*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.position-abs{
    padding: 50px;
    background-color: green;
    text-align: center;
    color: white;
    position: absolute;
    top: px;
    left: px;
    z-index: 2;
     width: 512px;
    height: 512px;
}
.Flag{
    background-color: yellow;
    border: 6px;
}
.position-abs.second{
    z-index: 2;
    background-color: brown;
    top: 450px;
    left: 460px;
     width: 512px;
    height: 512px;
}
.position-abs.third{
z-index: 1;
background-color: skyblue;
top: 900px;
left: 900px;
 width: 512px;
    height: 512px;
}